{% extends 'base.html' %}
{% load static %}

{% block title %}
    About me
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
    <h1>This is the About Page</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati expedita, beatae est sit necessitatibus atque nobis adipisci itaque totam numquam velit debitis odit dolor incidunt eveniet in aut. Itaque, dolore.</p>
{% endblock content %}
